.NestedList {
  display: grid;
  border: 1px solid lightgray;
}
.NestedList_Root {
  display: flex;
  justify-content: flex-start;
  height: 5vmin;
  border-bottom: 1px solid gray;
  padding: 0.25rem 0.5rem;
}
